/* General body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #FFAFBD,#ffc3a0);
  flex-direction: column;
  position: relative;
  overflow: visible;
}

h1 {
  font-size: 136px;  /* Large font size */
  color: #ffffff;   /* Green color */
  text-align: center;  /* Center the text */
  margin-bottom: 20px;  /* Add some space below the heading */
  font-family: Copperplate, sans-serif;  /* Font family */
}

/* Form styling */
form {
  text-align: center;
  padding: 20px;
  border: 5px solid #ffffff;
  border-radius: 8px;
  width: 300px;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 8px;
  margin: 10px 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  color: #000000;
  font-family: Tahoma;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  width: 100%;
  font-family: Tahoma;
}

input[type="submit"]:hover {
  background-color: #ffc3a0;
  font-family: Tahoma;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

/* Leaderboard styling */
.leaderboard {
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
  max-width: 400px;
  overflow: hidden;
  font-family: Tahoma;
  color: #ffffff;
}

.leaderboard table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

.leaderboard th, .leaderboard td {
  padding: 8px;
  border: 3px solid #ffc3a0;
  text-align: left;
}

.leaderboard th {
  background-color: #ffc3a0;
}

/* Apply shadow to the container instead of the image */
.random-poster {
  position: relative;
  width: 300px;
  height: 420px;
  box-shadow: 0px 0px 70px rgba(255, 255, 255, 0.8); /* Shadow on container */
}
.random-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling for guesses */
.guesses {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 250px;
  color: #ffffff;
}

.guesses li {
  font-size: 20px;
  margin: 5px 0;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  font-family: Tahoma;
}

/* Box styling for each guess */
.guesses li span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* Move the entire list of letters to the left */
.guesses ul {
  padding-left: 0;
  margin-left: -40px;
}

/* Correct letter color */
.correct {
  background-color: green;
  color: white; /* White text inside the green box */
  font-weight: bold;
}

/* Misplaced letter color */
.misplaced {
  background-color: yellow;
  color: black; /* Black text inside the yellow box */
  font-weight: bold;
}

/* Incorrect letter color */
.incorrect {
  background-color: gray;
  color: white; /* White text inside the gray box */
}
