html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
}

.box {
    border: none;
    position: relative;
}

#box5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
}


